html, body, article{ margin:0;padding:0 }

html
{
    font-family: Georgia,Cambria,"Times New Roman",Times,serif;
    letter-spacing: 0.01rem;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    line-height: 1.5;
    color: #777;
}

section
{
    width: 700px;
    margin: 0 auto;
}

h1, h2
{
    font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
    font-weight: 700;
    letter-spacing: -0.04em;
    color: #444;
    margin-bottom: 0;
    line-height: 1;
}

header
{
    margin:0;
    padding:1.5em 0 1em 0;
    text-align: center;
    background: #444;
    color: #fff;
}

header > h1
{
    font-size: 2em;
    color: #fff;
    margin-top: 0;
    text-transform: uppercase;
}

header > p
{
    font-style: italic;
    color: #777;
}